<h3 class="text-center my-2">Nested From Group Demo</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <form [formGroup]="profileForm" (ngSubmit)="Submitdata()">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" formControlName="nfgname" >
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" formControlName="nfgemail" >
        </div>
        <div formGroupName="nfgaddress">
          <label>Address</label>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" formControlName="street" >
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city" >
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" formControlName="state" >
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!profileForm.valid" class="btn btn-success" (click)="Submitdata()">Submit</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
        </div>
      </form>
    </div>
    <div class="col-5">
      {{ data | json }}
    </div>
  </div>
</div>
